apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: vault
  namespace: vault-system
spec:
  interval: 30m
  chart:
    spec:
      chart: vault
      version: "0.27.x"
      sourceRef:
        kind: HelmRepository
        name: hashicorp
        namespace: flux-system
  values:
    global:
      enabled: true
      tlsDisable: false

    injector:
      enabled: true
      image:
        repository: hashicorp/vault-k8s
        tag: "1.4.1"

    server:
      image:
        repository: hashicorp/vault-enterprise
        tag: "1.15.6-ent"

      # Uncomment when you have a license
      # enterpriseLicense:
      #   secretName: vault-license
      #   secretKey: license

      resources:
        requests:
          memory: 256Mi
          cpu: 250m
        limits:
          memory: 512Mi
          cpu: 500m

      ha:
        enabled: true
        replicas: 3
        raft:
          enabled: true
          setNodeId: true
          config: |
            ui = true

            listener "tcp" {
              tls_disable = 1
              address = "[::]:8200"
              cluster_address = "[::]:8201"
            }

            storage "raft" {
              path = "/vault/data"
              retry_join {
                leader_api_addr = "http://vault-0.vault-internal:8200"
              }
              retry_join {
                leader_api_addr = "http://vault-1.vault-internal:8200"
              }
              retry_join {
                leader_api_addr = "http://vault-2.vault-internal:8200"
              }
            }

            service_registration "kubernetes" {}

      dataStorage:
        enabled: true
        size: 10Gi
        storageClass: "local-path"

      auditStorage:
        enabled: true
        size: 5Gi
        storageClass: "local-path"

    ui:
      enabled: true
      serviceType: ClusterIP
